body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.search-area{
    margin-top: 3%;
    
}

.search-input{
    width:250px;
    height: 44px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    font-size:1rem;
}
.search-button{
    height: 44px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size:1rem;
    font-weight: bold;
    cursor:pointer;
    color: rgb(33, 33, 33);
}

.search-result{
 margin-top: 0.5rem;
 /* width:250px !important; */
}

.table{
    background-color: rgba(0, 0, 0, 0.898);
    min-width:350px;
    max-width:350px !important;
    border-radius: 10px;
}

td, th {
    max-width: 160px; /* veya istediğiniz bir değer */
    min-width: 160px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; Taşan metni üç nokta (...) ile kırp */
}

th:nth-child(1){
    text-align: center;
}

.brdr{
    
    overflow-wrap: break-word;
    word-wrap: break-word;
}

